body {
    background-image: url('/gerentecss/img/fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.perfil-img {
    max-width: 200px;
    max-height: 200px;
}
.card-personalizado {
    max-width: 400px; /* Ajusta el valor según tus necesidades */
    max-height: 580px;
    margin: 0 auto; /* Centra horizontalmente el card */
}