/*google font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.logo{
    color: black;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-size: 1.5em;
    height: 100%;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

nav .logo {
    width: 80px;
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    z-index: 2;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('img/banner1.jpg');
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */

}

/* Resto de tus estilos CSS aquí... */

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgba(255, 255, 255, 0.532);
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 150px;
    margin: 35px 115px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;   
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(to right, #282829,#787979);
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;   
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(83, 81, 81);
    outline: none;
    background: transparent;   
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #282829,#787979);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}