body {
    background-image: url('../img/fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.title2 {
    padding-top: 10px;
    width: fit-content;
    margin: 0 auto;
    bottom: 70%;
    right: 70%;
    color: rgb(0, 0, 0);
}

.letra-negra {
    color: black;
}
.document-container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #beaf87;
  }
  

  .document-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .document-container button {
    margin-bottom: 10px;
  }